.page{
    min-height: 100vh;
    background-image: url('/images/bg-XPTO.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    color: #FFF;
}

.introduction{
    margin-top: 10em;
    margin-left: 5em;
}

.introduction h1{
    font-weight: 300;
    font-size: 40px;
    line-height: 50px;
}

.introduction h2{
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
}

.login{
    position: absolute;
    right: 3em;
    top: 6em;
}

button{
    font-weight: 700;
    font-size: 16px;
    line-height: 56px;
    width: 170px;
    height: 42px;
    border-radius: 8px;
    border: 1px #4ADC7C solid;
    background: #0e1821;
    color: #4ADC7C;
    margin: .5em;
    text-align: center; 
    display: inline-flex; 
    align-items: center; 
    justify-content: center; 
}

button:hover{
    border: 1px #A9FFC6 solid;
    color: #A9FFC6;
    cursor: pointer;
}

button .press{
 background-color: #4ADC7C;
}

.disable{
    cursor: not-allowed;
    pointer-events: none;
    border: 1px #6D747B solid;
    color: #6D747B;
}