.navbar {
  background-color: #131820;
  display: flex;
  align-items: center;
  height: 80px;
  border-bottom: 2px #4ADC81 solid;
  padding: 0 2em;
  position: relative;
}

.navbar__logo {
  height: 40px;
}

.navbar__toggle {
  display: none;
  font-size: 30px;
  background: none;
  border: none;
  color: #FFF;
  cursor: pointer;
  position: absolute;
  right: 0;
}

.navbar__menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar__item {
  padding-top: 1.5em;
}

.navbar__link {
  display: inline-block;
  color: #FFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar__link::after {
  content: '';
  display: inline-block;
  border: solid white;
  border-width: 0 1px 1px 0;
  padding: 3px;
  margin-left: 8px;
  margin-bottom: 5px;
  transform: rotate(45deg);
  transition: transform 0.3s;
}

.navbar__item:hover .navbar__link::after {
  margin-bottom: 0;
  transform: rotate(-135deg);
}

.inicio {
  color: #FFF;
  text-decoration: none;
  padding-top: 1.5em;
  padding-left: 2em;
  padding-right: 1em;
}

.inicio:hover {
  color: #4ADC7C;
}

.navbar__link:hover {
  color: #4ADC7C;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10px;
}

.dropdown-content::after {
  content: '';
  position: absolute;
  top: -9px;
  left: 50%;
  transform: translateX(-250%);
  border-width: 0 10px 10px 10px;
  border-style: solid;
  border-color: transparent transparent #f9f9f9 transparent;
}

.dropdown__link {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown__link:hover {
  color: #48D381;
}

.navbar__item:hover .dropdown-content {
  display: block;
}

@media (max-width: 768px) {
  .navbar {
    padding: 0 1em;
  }

  .navbar__toggle {
    display: block;
    padding-bottom: 1.85em;
    width: 2em;
  }

  .navbar__menu {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 80px;
    left: 0;
    background-color: #131820;
    border: none;
    z-index: 2; 
  }

  .navbar__item {
    width: 100%;
    text-align: center;
    padding: 0.5em 0;
  }

  .dropdown-content {
    background-color: #131820;
    position: static;
    box-shadow: none;
    border-radius: 0;
    min-width: 100%;
  }
  
  .dropdown-content::after {
    display: none;
  }

  .dropdown__link {
    color: #FFF;
    padding: 0.5em 1em;
  }

  .navbar__menu--open {
    display: flex;
  }

  .navbar__item:hover .dropdown-content {
    display: block;
  }
}
